<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/Mainweb/booking.css' %}">
    <title>Document</title>
</head>
<body>
    {% load static %}
    <!-- {% if messages %}
<ul style="background-color: #f35858;height: 34px;text-align: center; font-size: 25px;">
    {% for message in messages %}
    <li {% if message.tags %} {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} -->
    <nav class="navbar">
        <div class="manager"> <a href="/Manager/managerlogin"> Manager </a> </div>
        <a href="#" class="toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navele">
            <ul>
               <li><a href="/">Home</a></li>
               <!-- <li><a href="#">Menu</a></li> -->
               <li><a href="/booking">Booking</a></li>
               <li><a href="/">About</a></li>
               <li><a href="/">Contact</a></li>
            </ul>
        </div>
    </nav>

    <div class="add-item" >
        <form action = "/meal" method="post">
            {% csrf_token %}
            <h1>Your Details</h1>
            <label for="Name"> Full Name </label>
            <input type="text" id ="name" placeholder="" name="fullname" required>
            <label for="member">Total Member</label> 
            <input type="number" id ="name" placeholder=""  name="member" required>
            <label for="number">Phone number</label>
            <input type="number" id ="price" placeholder="" name="phone" required>
            <label for="time">Timing</label>
            <select name="time" id="time" >
                <option value="9AM"> 9 AM </option>
                <option value="10AM"> 10 AM </option>
                <option value="11AM"> 11 AM </option>
                <option value="12PM"> 12 PM </option>
                <option value="1PM"> 1 PM </option>
                <option value="2PM"> 2 PM </option>
                <option value="3PM"> 3 PM </option>
                <option value="4PM"> 4 PM </option>
                <option value="5PM"> 5 PM </option>
                <option value="6PM"> 6 PM </option>
                <option value="7PM"> 7 PM </option>
                <option value="8PM"> 8 PM </option>
                <option value="9PM"> 9 PM </option>
                <option value="10PM"> 10 PM </option>
            </select>
            <button type="submit"> Go to add items</button>
        </form>
    </div>
<script>
    const toggleButton = document.getElementsByClassName('toggle')[0]
    const navele = document.getElementsByClassName('navele')[0]
                
    toggleButton.addEventListener('click', () => {
        navele.classList.toggle('active')
    })
</script>
</body>
</html>