<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/Manager/mfront.css' %}">
    <title>Document</title>
</head>
<body>
    {% load static %}
    <nav class="navbar">
        <div class="manager"> <a href="/Manager/logout"> Logout </a> </div>
        <a href="#" class="toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navele">
            <ul>
               <li><a href="/Manager/mfront">Orders</a></li>
               <li><a href="/Manager/history">History</a></li>
               <li><a href="/Manager/additems">Add Items</a></li>
               <li><a href="/Manager/delitem">Delete Items</a></li>
            </ul>
        </div>
    </nav>

    <div class="heading">
         <div class="head"> Name </div>
        <div class="head"> Phone  </div>
        <div class="head"> Date </div>
        <div class="head"> Time </div>
        <div class="head"> Members </div>
        <div class="head "> Items </div>
        <div class="head"> Price</div>
        <div class="head"> Total</div>
    </div>
    {% for i in order %}
    <div class="orders">
        <div class="order-item"> {{i.fullname}} </div>
        <div class="order-item"> {{i.phoneno}} </div>
        <div class="order-item"> {{i.orderdate}} </div>
        <div class="order-item"> {{i.sheduletime}} </div>
        <div class="order-item"> {{i.members}} </div>
    
        <div class="order-item items"> 
            {% for j in i.dish_list %}
            <div class="dash"> {{j}}</div> 
            {% endfor %}
        </div>
        
        <div class="order-item items"> 
            {% for k in i.quantity_list %}
            <div class="dash"> {{k}} </div>
            {% endfor %}
        </div>
        
        <div class="order-item"> {{i.total}} </div>
    </div>
    {% endfor %}
<script>
    const toggleButton = document.getElementsByClassName('toggle')[0]
    const navele = document.getElementsByClassName('navele')[0]
            
    toggleButton.addEventListener('click', () => {
        navele.classList.toggle('active')
    })
</script>
</body>
</html>